{% extends 'user/index.html' %}
{% load static %}
{% block content %}
<title>Payment Record</title>
<br>
<h1 style="color:black; font-family: 'Playfair Display', serif;font-size: 30px;text-align:center;">Payment Record</h1>
<br>
<br>
<table>
<thead> 
<tr>
<th>Sr No.</th>
<th>Sender</th>
<th>Reciever</th>
<th>Amount Transferred (in ₹)</th>
<th>Date</th>
</tr>
</thead>
<tbody>
{% for t in tr %}
<tr>
<td>{{t.id}}</td>
<td>{{t.sender}}</td>
<td>{{t.reciever}}</td>
<td>{{t.amount}}</td>
<td>{{t.date}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<br>
<br>
<p style="padding:10px 10px; display:block; color:white; 
background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
text-align:center;" class="bg-dark sticky-bottom fixed-bottom">Copyright © 2021 Universal Bank | All Rights Reserved.</p>
{% endblock content %}